//colors
$light-blue: #819ba6;
$dark-blue: #456673;
$dark-brown: #40371e;
$sand-brown: #f2bf91;
$sand-brown-darker: #a68263;

//fonts
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

body {
  font-size: 18px;
  color: black;
  font-family: "Nunito Sans", sans-serif;
}

.App {
  position: relative;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;

  &__logo {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    color: white;
    margin-top: 2rem;

    a {
      color: white;
      text-decoration: none;
    }

    h1 {
      margin: 1.5rem 1.5rem 0.5rem;
      text-shadow: 2px 5px 6px rgba(0, 0, 0, 0.64);
    }

    img {
      width: 100px;
    }
  }

  &__locator {
    position: relative;
    width: 80%;
    padding: 2rem;
    margin: 4rem auto 4rem;
    @media screen and (max-width: 991px) {
      background-color: rgba($color: #fff, $alpha: 0.4);
    }

    .slogan {
      text-align: center;
      color: $dark-blue;

      @media screen and (max-width: 991px) {
        color: black;
        font-size: 0.8rem;
      }
    }

    form {
      display: flex;
      justify-content: center;
      width: 100%;

      input {
        flex: 0 1 70%;
        border: none;
        border-bottom: 1px solid black;
        background: transparent;
        text-align: center;
        font-size: 1.5rem;
        font-style: italic;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;

        img {
          width: 50px;
          transition: filter 0.3s ease-in;
          filter: invert(0.4);
          @media screen and (max-width: 991px) {
            width: 25px;
          }

          &:hover {
            filter: invert(0);
          }
        }
      }
    }
  }

  &__resultsContainer {
    padding: 2rem;
    background-color: rgba($light-blue, 0.5);
    border: 1px solid $dark-blue;
    margin: 1rem 0 10vh;

    .notLoaded {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 75px;
      }
    }
    .error-message {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 75px;
      }
    }
    .cityInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      h2 {
        margin: 1rem 0;
      }
    }
    .cityMap {
      width: 80%;
      margin: 1rem auto;
      text-align: center;

      > div {
        margin-top: 2rem;
      }
    }

    .container {
      display: flex;
      justify-content: space-around;

      @media screen and (max-width: 991px) {
        flex-direction: column-reverse;
        align-items: center;
      }

      &__main {
        flex: 0 1 75%;

        table {
          width: 95%;
          background-color: rgba($dark-blue, 0.7);
          margin: 0 auto;
          text-align: center;

          .hideOnMobile {
            @media screen and (max-width: 991px) {
              display: none;
            }
          }
          th {
            background-color: rgba(#fff, 0.7);
          }

          tr {
            color: white;
          }
          td {
            border: 1px solid $light-blue;
            max-width: 250px;
            min-width: 70px;
          }

          img {
            width: 50px;
          }
        }
      }

      &__secondary {
        flex: 0 1 25%;
        text-align: center;

        img {
          width: 100px;
        }
      }
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 7vh;
    background-color: rgba($dark-blue, 0.3);
    color: white;
    font-size: 0.7rem;
    text-align: center;

    a {
      color: white;
    }
  }
}
